﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("My profile", "MyProfile", "Home")</li>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin page", "AdminIndex", "Home")</li>
                        }
                    }

                    @{ if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Register", "Register", "Home")</li>
                        }
                    }

                            <li>
                                @{
                                    if (Request.IsAuthenticated)
                                    {
                                        @Html.ActionLink("Edit Profile", "EditProfile", "MyAccount")
                                        using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Login", "Login", "MyAccount")
                                    }
                                }

                            </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
