﻿@model WebApplication2.Model_vehicle

@{
    ViewBag.Title = "AddModel";
}

<h2>AddModel</h2>

@using (Html.BeginForm("AddModel1", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Model_vehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name_model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name_model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name_model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_manufacturer, htmlAttributes: new { style="display:none" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_manufacturer, new { htmlAttributes = new { style = "display:none" } })
                @Html.ValidationMessageFor(model => model.id_manufacturer, "", new { style = "display:none" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_characteristic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_characteristic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_characteristic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
