﻿@model WebApplication2.Models.AdminViewModel

@{
    ViewBag.Title = "AdminIndex";
}

<h2>Administration</h2>
<div>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : " ")(Admin)</div>

<ul class="tab">
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Categories')">Categories</a></li>
   <!-- <li><a href="#" class="tablinks" onclick="openTab(event, 'Class')">Class of categories</a></li> -->
   <!--<li><a href="#" class="tablinks" onclick="openTab(event, 'Model')">Model</a></li> -->
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Manufacturer')">Manufacturer</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Packages')">Packages</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Characteristic')">Characteristic</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'Vehicles')">Vehicles</a></li>

</ul>

<div id="Categories" class="tabcontent">
    <h3>Categories</h3>
    <!--signalR web soketi-->
    <table border="1">
        @{
            foreach (var c in Model.category)
            {
        <tr onclick="openDialog(@c.id_category)">
            <td>@c.Name</td>
            <td>@Html.ActionLink("Edit", "EditCategory", new { id = c.id_category })</td>
            <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = c.id_category })</td>
            <td>@Html.ActionLink("Add class", "AddClass", new { id = c.id_category })</td>

        </tr>
            }
        }
    </table>
    @Html.ActionLink("Add category", "AddCategory")

    <br />
   <a href="#" class="tablinks" onclick="openTab1(event, 'Class')">Class of categories</a>


    <div id="Class" class="tabcontent">
        <h3>Class</h3>
        <table border="1">
            @{
                foreach (var c in Model.classes)
                {
                    <tr>
                        <td>@c.Name_subclass</td>
                        <td>@Html.ActionLink("Edit", "EditClasses", new { id = c.id_class })</td>
                        <td>@Html.ActionLink("Delete", "DeleteClass", new { id = c.id_class })</td>

                    </tr>
                }
            }
        </table>
  

    </div>


</div>


<div id="Manufacturer" class="tabcontent">
    <h3>Manufacturer</h3>
    <table border="1">
        @{
            foreach (var c in Model.manufacturer)
            {
        <tr>
            <td>@c.Name_manufacturer</td>
            <td>@c.year_of_production</td>
            <td>@Html.ActionLink("Edit", "EditManufacturer", new { id = c.id_manufacturer })</td>
            <td>@Html.ActionLink("Delete", "DeleteManufacturer", new { id = c.id_manufacturer })</td>
            <td>@Html.ActionLink("Add model", "AddModel", new { id = c.id_manufacturer })</td>

        </tr>
            }
        }
    </table>
    @Html.ActionLink("Add manufacturer", "AddManufacturer")
    <br />
    <a href="#" class="tablinks" onclick="openTab1(event, 'Model')">Model of manufacturer</a>


    <div id="Model" class="tabcontent">
        <h3>Model</h3>
        <table border="1">
            @{
                foreach (var c in Model.models)
                {
                    <tr>
                        <td>@c.Name_model</td>
                        <td>@Html.ActionLink("Edit", "EditModel", new { id = c.id_model })</td>
                        <td>@Html.ActionLink("Delete", "DeleteModel", new { id = c.id_model })</td>

                    </tr>
                }
            }
        </table>
        <br />




    </div>



</div>




<div id="Packages" class="tabcontent">
    <h3>Packages</h3>
    <table border="1">
        @{
            foreach (var c in Model.package)
            {
                <tr>
                    <td>@c.Price</td>
                    <td>@c.seats</td>
                    <td>@c.air_conditioning</td>
                    <td>@c.wheels</td>
                    <td>@Html.ActionLink("Edit", "EditPackage", new { id = c.id_package })</td>
                    <td>@Html.ActionLink("Delete", "DeletePackage", new { id = c.id_package })</td>

                </tr>
            }
        }
    </table>
    @Html.ActionLink("Add package", "AddPackage")

</div>
<div id="Characteristic" class="tabcontent">
    <h3>Characteristic</h3>
    <table border="1">
        @{
            foreach (var c in Model.characteristic)
            {
                <tr>
                    <td>@c.dors</td>
                    <td>@c.quantity</td>
                    <td>@c.color</td>
                    <td>@Html.ActionLink("Edit", "EditCharacteristic", new { id = c.id_characteristic })</td>
                    <td>@Html.ActionLink("Delete", "DeleteCharacteristic", new { id = c.id_characteristic })</td>

                </tr>
            }
        }
    </table>
    @Html.ActionLink("Add characteristic", "AddCharacteristic")

</div>





<style>
    body {
        font-family: "Lato", sans-serif;
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Float the list items side by side */
        ul.tab li {
            float: left;
        }

            /* Style the links inside the list items */
            ul.tab li a {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of links on hover */
                ul.tab li a:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                ul.tab li a:focus, .active {
                    background-color: #ccc;
                }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>



<script>

    function openTab(evt, name) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabcontent.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(name).style.display = "block";
        evt.currentTarget.className += " active";
    }
    


    function openTab1(evt, name) {
        
        document.getElementById(name).style.display = "block";
        
    }

    function openDialog(cat) {
        
    }
    

</script>