﻿@model WebApplication2.Characteristic
@{
    ViewBag.Title = "EditCharacteristic";
}

<h2>EditCharacteristic</h2>

@using (Html.BeginForm("EditCharacteristic", "Home", FormMethod.Post))
{
    <p> Color :</p>@Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Dors :</p>@Html.EditorFor(model => model.dors, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Quantity :</p>@Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })<br>

    @Html.TextBoxFor(model => model.id_characteristic, new { style = "display:none" })
    <input type="submit" value="Submit" />
}
