﻿@model WebApplication2.Manufacturer
@{
    ViewBag.Title = "EditManufacturer";
}

<h2>EditManufacturer</h2>
@using (Html.BeginForm("EditManufacturer", "Home", FormMethod.Post))
{
    <p> Name of manufacturer :</p>@Html.EditorFor(model => model.Name_manufacturer, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Year of production :</p>@Html.EditorFor(model => model.year_of_production, new { htmlAttributes = new { @class = "form-control" } })<br>

    @Html.TextBoxFor(model => model.id_manufacturer, new { style = "display:none" })
    <input type="submit" value="Submit" />
}


