﻿@model WebApplication2.Package
@{
    ViewBag.Title = "EditPackage";
}

<h2>EditPackage</h2>
@using (Html.BeginForm("EditPackage", "Home", FormMethod.Post))
{
    <p> Price :</p>@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Seats :</p>@Html.EditorFor(model => model.seats, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Wheels :</p>@Html.EditorFor(model => model.wheels, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> Air conditioning :</p>@Html.EditorFor(model => model.air_conditioning, new { htmlAttributes = new { @class = "form-control" } })<br>

    @Html.TextBoxFor(model => model.id_package, new { style = "display:none" })
    <input type="submit" value="Submit" />
}

