﻿@model WebApplication2.Category
@{
    ViewBag.Title = "EditCategory";
}

<h2>EditCategory</h2>

@using (Html.BeginForm("EditCategory", "Home", FormMethod.Post))
{
    <p> Name of category :</p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.TextBoxFor(model => model.id_category, new { style = "display:none" })
    <input type="submit" value="Submit" />
}
