﻿@model WebApplication2.Model_vehicle
@{
    ViewBag.Title = "EditModel";
}

<h2>EditCategory</h2>

@using (Html.BeginForm("EditModel", "Home", FormMethod.Post))
{
    <p> Name of model :</p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.TextBoxFor(model => model.id_model, new { style = "display:none" })
    <input type="submit" value="Submit" />
}
