﻿@model WebApplication2.User

@{
    ViewBag.Title = "EditProfile";
}

<h2>Edit Profile for User <b>@Model.Username </b></h2>


@using (Html.BeginForm("Edit", "MyAccount", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p> Username :</p>@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    <p> Password :</p> @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <p> First name:</p> @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } }) <br>
    <p> Last name:</p>@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p> E-mail:</p> @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })<br>
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    <p> Address :</p>@Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })<br><br><br>

    <input type="submit" value="Submit" />
}






